.gallery-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /*thumbnail refers to the grey dots below the image gallery
  that lets you pick the picture
  first thumbnails moves the position of them wrt the container*/
  .thumbnails {
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  /*this thumbnails sets the size and colors*/
  .thumbnails div {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #aaa;
    border-radius: 100%;
  }
  
  .thumbnails div.highlighted {
    background-color: #777;
  }
  
  .slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: column;
    /*gap refers to the space between the images
    in the gallery*/
    gap: 1rem;
    /*the following width sets the container size
    this width should match the img width below*/
    width: 540px;
    padding: 1rem;
    height: 500px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    /*add background color here if you need to see the container*/
  }
  
  .slides > div {
    scroll-snap-align: center;
  }
  
  /*sets the width of the image used in the slides*/
  .slides img {
    width: 540px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }

  /*gallery swipe function: https://labex.io/tutorials/css-image-gallery-with-horizontal-scroll-35210 */