html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; 
}

html {
  background-image: url("../images/background_flowers.jpg");
  background-color: transparent;
  background-size: cover;
}

h1 {
  font-size: 60px;
  font-family: 'Borel', serif;
}

h2 {
  font-size: 30px;
  font-family: 'Borel', serif;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; 
  text-align: center;
}

ul {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;   
  text-align: center;
  list-style-position: inside;
}