html {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; 
}

body {
  background-image: url("../images/background-flowers.jpg");
  background-color: transparent;
}

h1 {
  font-size: 60px;
  font-family: 'Borel', serif;
}

h2 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}