html {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; 
}

/*html {
  background-color: #8faad6;
}*/

h1 {
  font-size: 60px;
  font-family: 'Borel', serif;
}

h2 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}